body {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.profile-image {
  border: 3px solid black;
  border-radius: 25%;
  display: block;
  margin: auto;
}

.links {
  display: flex;
}

.link {
  border: 3px solid black;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  color: black;
  text-decoration: none;
}

.link img {
  height: 1em;
}
